.container {
    min-width: 1000px;
}

.main-container {
    min-height: 600px;
}

.blog-masthead {
    background-color: #D94913;
}

.footer {
    margin-top: 50px;
}

.well {
    background-color: #D94913;
    color: white;
}

.loginFormWrap {
    max-width: 300px;
    margin: 0 auto;
}

.btn-def {
    background-color: #D94913;
    color: white;
    border-color: #dd514c;
}

.blok {
    padding: 25px 20px;
    border-bottom: 1px solid #eee;
    font-family: sans-serif;
}

.blok:last-child {
    border-bottom: 0;
}

.blockResult {
    margin-top: 15px;
    font-weight: bold;
}

/* Player */
.jp-sound-controls { float: left; }

.jp-button { width: 32px; height: 32px; float: left; display: block; margin: 0 2px; }
.jp-button-play { background: url('/images/icons/Button-Play-yellow-32.png'); }
.jp-button-pause { background: url('/images/icons/Button-Pause-yellow-32.png'); }
.jp-button-stop { background: url('/images/icons/Button-Stop-yellow-32.png'); }
.jp-button-muted { background: url('/images/icons/Speaker-Mute-blue-32.png'); }
.jp-button-speaker { background: url('/images/icons/Speaker-blue-32.png'); }

.jp-controls { float: left; }
.jp-progress { height: 10px; width: 156px; padding-right: 1px; background: #d2d2d2; box-shadow: 0px 1px 0px #fff; float: left; margin: 10px 5px; }
.jp-play-bar { height: 10px; background: #ff6a0a; float: left; }
.jp-volume-bar { height: 6px; width: 40px; margin-top: 12px; background: #e1e1e1; float: left; }
.jp-volume-bar-value { background: #013d76; height: 6px; }
.sound-controls { float: left; }

/* Pola do wpisania odpowiedzi */
.answer {
    background: none;
    border: 0px solid #D94913;
    border-bottom-width: 1px;
    font-family: sans-serif;
    text-align: center;
}

.answerCorrect {
    border-color: green;
    color: green;
}

.answerBad {
    border-color: red;
    color: red;
}